{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Sid": "S3BucketAccessForS3FSDriver",
      "Action": [
        "s3:ListAllMyBuckets",
        "s3:ListBucket",
        "s3:GetBucketLocation"
      ],
      "Resource": [
        "*"
      ],
      "Effect": "Allow"
    },
    {
      "Sid": "S3ObjectAccessForS3FSDriver",
      "Action": [
        "s3:GetObject",
      ],
      "Resource": [
        "arn:aws:s3:::cia-{{ env }}-web/*"
      ],
      "Effect": "Allow"
    }
  ]
}
