<?xml version="1.0" encoding="UTF-8"?>
<settings xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd" xmlns="http://maven.apache.org/SETTINGS/1.1.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <servers>
        <server>
            <id>future-airlines-release</id>
            <username>jenkins</username>
            <password>{F18v+gwiqqoHsOj9MO6dbQYto7vyK2xoJUDqotIyTg9lkIxEdWPkWqycAAVYTlKT}</password>
        </server>
        <server>
            <id>future-airlines-snapshot</id>
            <username>jenkins</username>
            <password>{F18v+gwiqqoHsOj9MO6dbQYto7vyK2xoJUDqotIyTg9lkIxEdWPkWqycAAVYTlKT}</password>
        </server>
    </servers>
    <mirrors>
        <mirror>
            <id>mvnrepo.future-airlines.net</id>
            <url>https://mvnrepo.future-airlines.net/artifactory/libs-all/</url>
            <mirrorOf>*</mirrorOf>
        </mirror>
    </mirrors>
    <profiles>
        <profile>
            <id>future-airlines</id>
            <repositories>
                <repository>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <id>future-airlines-release</id>
                    <name>mvnrepo.future-airlines.net-release</name>
                    <url>https://mvnrepo.future-airlines.net/artifactory/future-airlines-release</url>
                </repository>
                <repository>
                    <snapshots />
                    <id>future-airlines-snapshot</id>
                    <name>mvnrepo.future-airlines.net-snapshot</name>
                    <url>https://mvnrepo.future-airlines.net/artifactory/future-airlines-snapshot</url>
                </repository>
            </repositories>
        </profile>
    </profiles>
    <activeProfiles>
        <activeProfile>future-airlines</activeProfile>
    </activeProfiles>
</settings>
